matplotlib==3.10.9
nltk==3.9.1
numpy==2.4.6
nvidia_ml_py==12.575.51
opencv_python==4.11.0.86
opencv_python_headless==4.13.0.92
p_tqdm==1.4.2
pdf2image==1.17.0
Pillow==12.2.0
pynvml==12.0.0
python_Levenshtein==0.27.3
PyYAML==6.0.2
PyYAML==6.0.3
tabulate==0.9.0
torch==2.5.1+cu124
torchvision==0.20.1+cu124
tqdm==4.66.2
vit_pytorch==1.10.1
